$white: #fff;
$black: #000;

$content-color: #3E372F;
$content-text-color: #75756B;
$link-color: #4E8991;
$sub-back: #F8F8F8;
$sub-violet: #594E93;
$sub-green: #BDC939;
$sub-blue: #1F597E;
$footer-bg: #F8F8F8;
$footer-color: #3A3935;
$search-color: #B2B2B2;
$card-tag: #4C91A1;
$btn-color: #FEA500;